* {
  box-sizing: border-box;
}

#pixels {
  height: 460px;
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.pixel {

  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: solid #6F6F80 1px;
}
.pixelRow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.document{
  align-items: center;
}
h1{
  text-align: center;
  color: white;
}
#outputBox{
  background-color: rgba(0,0,0,0.5);
  border: solid #02050D 2px;
  margin: 20px;
  width: 400px;
  color: white;
  resize: none;
  font-weight: bold;
  text-align: center;
  width: 320px;
}
body{
  background-color: #2D313B;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#buttons{
  margin-top: 10px;
}
button{
  background-color: #454954;
  color: white;
  border: 0;
  padding: 3px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border: solid #02050D 1px;
}
button:hover{
  cursor: pointer;
  background-color: #535c65;
}
